// Place all the styles related to the homes controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
#top_image{
  height: 800px;
  background-image: url(guilherme-petri-PtOfbGkU3uI-unsplash.jpg);
  background-size: cover;
}

.news{
  background: #F2F2F2;
  border-bottom: 1px;
  height: 500px;
}

.news-text{
  text-align: center;
  font-family: Roboto Condensed;
  size: 30px;
  color: #39454b;
  padding-top: 150px;
}

.about-img{
  height: 1322px;
  background-image: url(suhyeon-choi-ehxwis6Ltxg-unsplash.jpg);
  width: 50%;
  background-size: cover;
}
.about-text{
  border-bottom: 1px solid gray;
}

.about-text-row{
  margin-top: 20px;
}

.about-ditail{
  margin-top: 100px;
  margin-left: 35px;
}

.stylist-img{
  margin: 100px auto;
}

.stylist-introduction{
  margin-top: 100px;
  margin-left: 20px;
}

.stylist-histly{
  margin-top: 50px;
}

.menu{
  background: #F2F2F2;
}

.menu-text{
  text-align: center;
  font-family: Roboto Condensed;
  size: 30px;
  color: #39454b;
  padding-top: 150px;
  padding-bottom: 50px;
}